
body{
    background-color: black;
    color: white;
    font-family: "Oswald";
}

.navbar {
    color: white;
}

.navbar-opaco{
    background-color: black;
    opacity: 75%;
}

.logo-viaje{
    width: 45px;
    height: 40px;
}

hr{
    color: rgb(47, 47, 47);
}

.somos{
    text-align: justify;
    font-weight: 300;
}

.seccion-destacados img{
    height: 150px;
    object-fit: cover;
}

#seccion-icon{
    font-size: 30px;
    text-align: center;
}

.alert-danger{
    background-color: rgb(17, 5, 5);
    border: none;
    color: brown;
}

.alert-success{
    background-color: rgb(4, 54, 4);
    border: none;
    color: green;
}
